
body {
    background-color: black;
    font-family: poefont;
    /* position: relative; */
}

body {
}

a {
    text-decoration: none;
    color: antiquewhite;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    z-index: 0;
}

.highlighted {
    box-shadow: 0px 0px 30px 5px yellow;
}

.mapDiv {
    /* cursor: grab; */
    position:absolute;
    top: 0px;
}

/* TODO: Set cursor to 'grabbing' (closed hand) while dragging */
.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.selectDisable {
    -webkit-user-select: none;  
    -khtml-user-select: none;   
    -moz-user-select: none; 
    -o-user-select: none;    
    user-select: none; 
}

.on-top {
    z-index: 100;
}

@font-face {
    font-family: poefont;
    src: url(../fonts/fontin-regular.ttf);
}

/*stars color*/

.fa-star {
    color: orange;
}

.fa-star-half {
    color: orange;
}



/*POP UP BOX STYLE STUFF*/

.ItemImageInside {
    vertical-align: middle;
    width: 133px;
    border: 0;
    /* display: none; */
}

.ItemImageInside img {
    height: 100px;
}

.ItemGen {
    color: rgb(171, 144, 102);
    font-family: FontinSmallCaps, "Fontin SmallCapsa", "Helvetica Neue", Helvetica, Arial, ?????, sans-serif;
    font-weight: 400;
    float: left;
    width: 200px;
    margin: 0px;
    background: rgb(34, 35, 25);
}

.Itemgen tbody {
    vertical-align: auto;
    border-color: inherit;
    height: 700px;
    width: 200px;
}

.Itemgen tr {
    vertical-align: auto;
    border-color: inherit;
}

.ItemGen td {
    padding: 10px;
}

.ItemContainer {
    position: relative;
    margin-bottom: 0;
    font-weight: 400;
    width: auto;
    height: auto;
}

.ItemBox {
    text-align: center;
    color: #EFEFEF;
    font-size: 14px;
    background: url(http://webcdn.pathofexile.com/image/game_ui/hover_background.png);
}

.ItemContent {
    padding-left: 0px;
    padding-right: 0px;
}

.TitleUniqueBar {
    background: url(http://webcdn.pathofexile.com/image/Art/2DArt/UIImages/InGame/ItemsHeaderUniqueMiddle.png?scale=2) top left repeat-x;
    background-size: contain;
    position: relative;
}

.TitleUniqueBarL {
    height: 100%;
    background-size: inherit;
    left: 0;
    top: 0px;
    position: absolute;
}

.TitleUniqueBarR {
    height: 100%;
    background-size: inherit;
    right: 0px;
    top: 0px;
    position: absolute;
}

.ItemBody {
    padding-left: 10px;
    padding-right: 10px;
}

.FlavourText,
.TextUnique {
    color: #af6025;
}

.ItemName,
.ItemType {
    font-family: 'Shojumaru', cursive;
    position: relative;
    top: 0px;
}

.ItemStats,
.Requirements,
.Text {
    display: inline-block;
    padding: 0 10px;
    color: #777;
}

.ItemUniqueSeparator {
    background: url(http://webcdn.pathofexile.com/image/Art/2DArt/UIImages/InGame/ItemsSeparatorUnique.png?scale=1) center no-repeat;
    position: relative;
    height: 7.91px;
    margin: 1px 0;
}



/*POPUP WINDOW SHHIT*/

.popupdiv {
    position: absolute;
    background: gray;
    width: 200px;
}

.popupdiv h1 {
    /* font-size: 80px; */
}

.popupdiv ul {
    list-style: none;
}

.popupdiv h2,
ul,
li {
    font-size: 70;
}

.innerHover {
    position: absolute;
    width: 27px;
    height: 27px;/**region height*/
    overflow: show;
    border-radius: 100%;
}

.innerHover .popupdiv{
    display: none;
}

.innerHover:hover .popupdiv {
    display: block;
}

.footer {
    padding-top: 2000px;
    height: 50px;
    width: 100%;
}

.footer h1 {
    position: relative;
    /* padding-left: 80px; */
    font-size: 50px;
    color: antiquewhite;
}

.footer img {
    position: absolute;
    top: -108px;
    left: 872px;
}


/*tier toogles*/

.popupdiv:hover {
    z-index: 55555 !important;
}

.list {
    display: block;
    float: left;
    width: 13%;
}

.toggles {
    padding-left: 10rem;
    padding-top: 0.5rem;
    display: inline-block;
}

.right {
    float: right;
}


/*Button*/

.bttn-default {
    color: #fff;
}

.bttn-warning {
    color: #feab3a;
}

.bttn-danger {
    color: #ff5964;
}

.bttn-success {
    color: #28b78d;
}

.bttn-royal {
    color: #bd2df5;
}

.bttn-md {
    font-size: 20px;
    font-family: inherit;
    padding: 2px 9px;
    margin: 0;
    padding: 0;
    border-width: 0;
    border-color: transparent;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    color: #1d89ff;
}

.bttn-float {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-color: transparent;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    font-family: inherit;
    padding: 2px 9px;
    overflow: hidden;
    border: 1px #fff;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    -webkit-transition: opacity 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), box-shadow 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: opacity 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), box-shadow 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), box-shadow 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), box-shadow 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.bttn-float:hover,
.bttn-float:focus {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
    opacity: 0.85;
    -webkit-transition: opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), box-shadow 0.4s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), box-shadow 0.4s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), box-shadow 0.4s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), box-shadow 0.4s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.bttn-float.bttn-md:hover,
.bttn-float.bttn-md:focus {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.bttn-float.bttn-default {
    border-color: #fff;
    background: rgba(255, 255, 255, 0.4);
    color: #fff;
}

.bttn-float.bttn-primary {
    border-color: #1d89ff;
    background: rgba(29, 137, 255, 0.4);
    color: #1d89ff;
}

.bttn-float.bttn-warning {
    border-color: #feab3a;
    background: rgba(254, 171, 58, 0.4);
    color: #feab3a;
}

.bttn-float.bttn-danger {
    border-color: #FF382A;
    background: rgba(255, 89, 100, 0.4);
    color: #ff5964;
}

.bttn-float.bttn-success {
    border-color: #28b78d;
    background: rgba(40, 183, 141, 0.4);
    color: #28b78d;
}

.bttn-float.bttn-royal {
    border-color: #bd2df5;
    background: rgba(189, 45, 245, 0.4);
    color: #bd2df5;
}

/*Shaping maps */

.shapingmaps {
    /* TODO: Less hacky positioning */
    position: absolute;
    bottom: 70px;
}

.shapingmaps table {
    border-collapse: separate;
    background: #DDD;
    @include border-radius(5px);
    margin: 5px auto;
    @include box-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
}

.shapingmaps thead {
    @include border-radius(5px);
}

.shapingmaps thead th {
    font-size: 16px;
    font-weight: 400;
    color: black;
    @include text-shadow(1px 1px 0px rgba(0, 0, 0, 0.5));
    text-align: left;
    padding: 0px;
    @include background-image(linear-gradient(#646f7f, #4a5564));
    border-top: 1px solid #858d99;
    &:first-child {
        @include border-top-left-radius(5px);
    }
    &:last-child {
        @include border-top-right-radius(5px);
    }
}

.shapingmaps tbody tr td {
    font-weight: 400;
    color: #5f6062;
    font-size: 10px;
    padding: 0px;
    border-bottom: 1px solid #e0e0e0;
}

.shapingmaps tbody tr:nth-child(2n) {
    background: #f0f3f5;
}

.shapingmaps tbody tr:last-child td {
    border-bottom: none;
    &:first-child {
        @include border-bottom-left-radius(5px);
    }
    &:last-child {
        @include border-bottom-right-radius(5px);
    }
}

.shapingmaps tbody:hover>tr td {
    @include opacity(0.5);
    /* uncomment for blur effect */
    /* color:transparent;
  @include text-shadow(0px 0px 2px rgba(0,0,0,0.8));*/
}

.shapingmaps tbody:hover>tr:hover td {
    @include text-shadow(none);
    color: #2d2d2d;
    @include opacity(1.0);
}

.feedback  {
    font-family: 'Shojumaru', cursive; 
    font-size: 20px;
    left: 0px;
    bottom: 0px;
    position: absolute;
}