html {
    height: 100%;
    width: 100%;
    zoom: 25%;
}

body {
    font-family: poefont;
    position: relative;
    background: #000 url(../img/AOW3.jpg) no-repeat;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: antiquewhite;
}



/*Shaping maps */

.shapingmaps {
    position: absolute;
    left: 0;
    top: 3000px;
}

.shapingmaps table {
    border-collapse: separate;
    background: #DDD;
    @include border-radius(5px);
    margin: 5px auto;
    @include box-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
}

.shapingmaps thead {
    @include border-radius(5px);
}

.shapingmaps thead th {
    font-size: 44px;
    font-weight: 400;
    color: black;
    @include text-shadow(1px 1px 0px rgba(0, 0, 0, 0.5));
    text-align: left;
    padding: 8px;
    @include background-image(linear-gradient(#646f7f, #4a5564));
    border-top: 1px solid #858d99;
    &:first-child {
        @include border-top-left-radius(5px);
    }
    &:last-child {
        @include border-top-right-radius(5px);
    }
}

.shapingmaps tbody tr td {
    font-weight: 400;
    color: #5f6062;
    font-size: 31px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

.shapingmaps tbody tr:nth-child(2n) {
    background: #f0f3f5;
}

.shapingmaps tbody tr:last-child td {
    border-bottom: none;
    &:first-child {
        @include border-bottom-left-radius(5px);
    }
    &:last-child {
        @include border-bottom-right-radius(5px);
    }
}

.shapingmaps tbody:hover>tr td {
    @include opacity(0.5);
    /* uncomment for blur effect */
    /* color:transparent;
  @include text-shadow(0px 0px 2px rgba(0,0,0,0.8));*/
}

.shapingmaps tbody:hover>tr:hover td {
    @include text-shadow(none);
    color: #2d2d2d;
    @include opacity(1.0);
}

@font-face {
    font-family: poefont;
    src: url(../fonts/fontin-regular.ttf);
}



/*stars collor*/

.fa-star {
    color: orange;
}

.fa-star-half {
    color: orange;
}



/*POP UP BOX STYLE STUFF*/

.itemimageinside {
    vertical-align: middle;
    height: 721px;
    width: 721px;
    margin-bottom: 40px;
}

.itemimageinside img {
    height: 200px;
}



/* NO IMAGES FROM NEGRICH*/

.itemimage {
    display: none;
}

.itemimageinside {
    border: 0;
}

.ItemGen {
    color: rgb(171, 144, 102);
    font-family: FontinSmallCaps, "Fontin SmallCapsa", "Helvetica Neue", Helvetica, Arial, ?????, sans-serif;
    font-weight: 400;
    float: left;
    max-height: 600px;
    width: 300px;
    margin: 0px;
    background: rgb(34, 35, 25);
}

.itemgen tbody {
    vertical-align: auto;
    border-color: inherit;
    height: 700px;
    width: 300px;
}

.itemgen tr {
    vertical-align: auto;
    border-color: inherit;
}

.ItemGen td {
    padding: 10px;
}

.ItemContainer {
    position: relative;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: 400;
    width: auto;
    height: auto;
}

.ItemBox {
    text-align: center;
    color: #EFEFEF;
    font-size: 1em;
    background: url(http://webcdn.pathofexile.com/image/game_ui/hover_background.png);
}

.ItemContent {
    padding-left: 0px;
    padding-right: 0px;
}

.TitleUniqueBar {
    background: url(http://webcdn.pathofexile.com/image/Art/2DArt/UIImages/InGame/ItemsHeaderUniqueMiddle.png?scale=2) top left repeat-x;
    position: relative;
    height: 120px;
    padding-top: -300px;
}

.TitleUniqueBarL {
    background: url(http://webcdn.pathofexile.com/image/Art/2DArt/UIImages/InGame/ItemsHeaderUniqueLeft.png?scale=2) top left no-repeat;
    height: 80px;
    width: 43px;
    left: 0;
    position: absolute;
}

.TitleUniqueBarR {
    background-image: url(http://webcdn.pathofexile.com/image/Art/2DArt/UIImages/InGame/ItemsHeaderUniqueRight.png?scale=2);
    height: 84px;
    width: 68px;
    right: -1px;
    position: absolute;
}

.FlavourText,
.TextUnique {
    color: #af6025;
}

.ItemName,
.ItemType {
    font-family: 'Shojumaru', cursive;
    font-size: 60px;
    position: relative;
    top: 0px;
}

.ItemStats,
.Requirements,
.Text {
    display: inline-block;
    padding: 0 10px;
    color: #777;
}

.ItemUniqueSeparator {
    background: url(http://webcdn.pathofexile.com/image/Art/2DArt/UIImages/InGame/ItemsSeparatorUnique.png?scale=1) center no-repeat;
    position: relative;
    height: 7.91px;
    margin: 1px 0;
}



/*POPUP WINDOW SHHIT*/

#popupdiv {
    background: gray;
    width: 800px;
    max-height: 900px;
}

#popupdiv h1 {
    font-size: 80px;
}

#popupdiv ul {
    list-style: none;
}

#popupdiv h2,
ul,
li {
    font-size: 70;
}

#innerHovercrystalore {
    position: absolute;
    top: 532px/**distance from top of image */
    ;
    left: 1288px/**distance from left of image */
    ;
    width: 80px;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;
}

#innerHovercrystalore #popupdiv {
    display: none;
}

#innerHovercrystalore:hover #popupdiv {
    display: block;
}

#innerHoverFactory {
    position: absolute;
    top: 935px/**distance from top of image */
    ;
    left: 1259px/**distance from left of image */
    ;
    width: 80px;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;
}

#innerHoverfactory #popupdiv {
    display: none;
}

#innerHoverFactory:hover #popupdiv {
    display: block;
}

#innerHoverchanell {
    position: absolute;
    top: 1199px/**distance from top of image */
    ;
    left: 1486px/**distance from left of image */
    ;
    width: 80px;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;
}

#innerHoverchanell #popupdiv {
    display: none;
}

#innerHoverchanell:hover #popupdiv {
    display: block;
}

#innerHoveracidlake {
    position: absolute;
    top: 832px/**distance from top of image */
    ;
    left: 1478px/**distance from left of image */
    ;
    width: 80px;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;
}

#innerHoveracidlake #popupdiv {
    display: none;
}

#innerHoveracidlake:hover #popupdiv {
    display: block;
}

#innerHoverpit {
    position: absolute;
    top: 621px/**distance from top of image */
    ;
    left: 1557px/**distance from left of image */
    ;
    width: 80px;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;
}

#innerHoverpit #popupdiv {
    display: none;
}

#innerHoverpit:hover #popupdiv {
    display: block;
}

#innerHoverracecourse {
    position: absolute;
    top: 461px/**distance from top of image */
    ;
    left: 1852px/**distance from left of image */
    ;
    width: 80px;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;
}

#innerHoverracecourse #popupdiv {
    display: none;
}

#innerHoverracecourse:hover #popupdiv {
    display: block;
}

#innerHovercells {
    position: absolute;
    top: 492px/**distance from top of image */
    ;
    left: 2207px/**distance from left of image */
    ;
    width: 80px;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHovercells #popupdiv {
    display: none;
}

#innerHovercells:hover #popupdiv {
    display: block;
}

#innerHoverArachnidNest {
    position: absolute;
    top: 670px/**distance from top of image */
    ;
    left: 2880px/**distance from left of image */
    ;
    width: 80px;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;
}

#innerHoverArachnidNest #popupdiv {
    display: none;
}

#innerHoverArachnidNest:hover #popupdiv {
    display: block;
}

#innerHoverquary {
    position: absolute;
    top: 829px/**distance from top of image */
    ;
    left: 2068px/**distance from left of image */
    ;
    width: 80px;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;
}

#innerHoverquary #popupdiv {
    display: none;
}

#innerHoverquary:hover #popupdiv {
    display: block;
}

#innerHoverquay {
    position: absolute;
    top: 3495px/**distance from top of image */
    ;
    left: 2748px/**distance from left of image */
    ;
    width: 80px;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverquay #popupdiv {
    display: none;
}

#innerHoverquay:hover #popupdiv {
    display: block;
}

#innerHovermessa {
    position: absolute;
    top: 1100px/**distance from top of image */
    ;
    left: 1841px/**distance from left of image */
    ;
    width: 80px;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHovermessa #popupdiv {
    display: none;
}

#innerHovermessa:hover #popupdiv {
    display: block;
}

#innerHoverwaste {
    position: absolute;
    top: 1605px/**distance from top of image */
    ;
    left: 1566px/**distance from left of image */
    ;
    width: 80px;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverwaste #popupdiv {
    display: none;
}

#innerHoverwaste:hover #popupdiv {
    display: block;
}

#innerHovercavern {
    position: absolute;
    top: 1708px/**distance from top of image */
    ;
    left: 1280px/**distance from left of image */
    ;
    width: 80px;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHovercavern #popupdiv {
    display: none;
}

#innerHovercavern:hover #popupdiv {
    display: block;
}

#innerHoverphantasmagoria {
    position: absolute;
    top: 2334px/**distance from top of image */
    ;
    left: 1404px/**distance from left of image */
    ;
    width: 80px;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverphantasmagoria #popupdiv {
    display: none;
}

#innerHoverphantasmagoria:hover #popupdiv {
    display: block;
}

#innerHoverprimordal {
    position: absolute;
    top: 1992px/**distance from top of image */
    ;
    left: 1536px/**distance from left of image */
    ;
    width: 80px;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverprimordal #popupdiv {
    display: none;
}

#innerHoverprimordal:hover #popupdiv {
    display: block;
}

#innerHoverpyramid {
    position: absolute;
    top: 2587px/**distance from top of image */
    ;
    left: 1660px/**distance from left of image */
    ;
    width: 80px;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverpyramid #popupdiv {
    display: none;
}

#innerHoverpyramid:hover #popupdiv {
    display: block;
}

#innerHovermarshes {
    position: absolute;
    top: 2706px/**distance from top of image */
    ;
    left: 1350px/**distance from left of image */
    ;
    width: 80px;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;
    ;
}

#innerHovermarshes #popupdiv {
    display: none;
}

#innerHovermarshes:hover #popupdiv {
    display: block;
}

#innerHoverjungle {
    position: absolute;
    top: 3245px/**distance from top of image */
    ;
    left: 1668px/**distance from left of image */
    ;
    width: 80px;
    /**region width*/
    ;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverjungle #popupdiv {
    display: none;
}

#innerHoverjungle:hover #popupdiv {
    display: block;
}

#innerHoverbeach {
    position: absolute;
    top: 3035px/**distance from top of image */
    ;
    left: 1831px/**distance from left of image */
    ;
    width: 80px;
    /**region width*/
    ;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverbeach #popupdiv {
    display: none;
}

#innerHoverbeach:hover #popupdiv {
    display: block;
}

#innerHoverburial {
    position: absolute;
    top: 2235px/**distance from top of image */
    ;
    left: 1825px/**distance from left of image */
    ;
    width: 80px;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverburial #popupdiv {
    display: none;
}

#innerHoverburial:hover #popupdiv {
    display: block;
}

#innerHovercanyon {
    position: absolute;
    top: 1764px/**distance from top of image */
    ;
    left: 1901px/**distance from left of image */
    ;
    width: 80px;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHovercanyon #popupdiv {
    display: none;
}

#innerHovercanyon:hover #popupdiv {
    display: block;
}

#innerHovervaultofatziri {
    position: absolute;
    top: 2508px/**distance from top of image */
    ;
    left: 1799px/**distance from left of image */
    ;
    width: 80px;
    /**region width*/
    ;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHovervaultofatziri #popupdiv {
    display: none;
}

#innerHovervaultofatziri:hover #popupdiv {
    display: block;
}

#innerHovervaalcity {
    position: absolute;
    top: 2488px/**distance from top of image */
    ;
    left: 2104px/**distance from left of image */
    ;
    width: 80px;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHovervaalcity #popupdiv {
    display: none;
}

#innerHovervaalcity:hover #popupdiv {
    display: block;
}

#innerHoverarachtomb {
    position: absolute;
    top: 2741px/**distance from top of image */
    ;
    left: 1988px/**distance from left of image */
    ;
    width: 80px;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverarachtomb #popupdiv {
    display: none;
}

#innerHoverarachtomb:hover #popupdiv {
    display: block;
}

#innerHovertropical {
    position: absolute;
    top: 3040px/**distance from top of image */
    ;
    left: 2129px/**distance from left of image */
    ;
    width: 80px;
    /**region width*/
    ;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHovertropical #popupdiv {
    display: none;
}

#innerHovertropical:hover #popupdiv {
    display: block;
}

#innerHoverreef {
    position: absolute;
    top: 3590px/**distance from top of image */
    ;
    left: 2140px/**distance from left of image */
    ;
    width: 80px;
    /**region width*/
    ;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverreef #popupdiv {
    display: none;
}

#innerHoverreef:hover #popupdiv {
    display: block;
}

#innerHoverAshenWood {
    position: absolute;
    top: 664px/**distance from top of image */
    ;
    left: 2650px/**distance from left of image */
    ;
    width: 80px;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverAshenWood #popupdiv {
    display: none;
}

#innerHoverAshenWood:hover #popupdiv {
    display: block;
}

#innerHoverShore {
    position: absolute;
    top: 2640px/**distance from top of image */
    ;
    left: 2374px/**distance from left of image */
    ;
    width: 80px;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverShore #popupdiv {
    display: none;
}

#innerHoverShore:hover #popupdiv {
    display: block;
}

#innerHoverAtoll {
    position: absolute;
    top: 2418px/**distance from top of image */
    ;
    left: 5346px/**distance from left of image */
    ;
    width: 80px;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverAtoll #popupdiv {
    display: none;
}

#innerHoverAtoll:hover #popupdiv {
    display: block;
}

#innerHoverArcade {
    position: absolute;
    top: 3210/**distance from top of image */
    ;
    left: 6275px/**distance from left of image */
    ;
    width: 80px;
    /**region width*/
    ;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverArcade #popupdiv {
    display: none;
}

#innerHoverArcade:hover #popupdiv {
    display: block;
}

#innerHoverGhetto {
    position: absolute;
    top: 3100/**distance from top of image */
    ;
    left: 5980px/**distance from left of image */
    ;
    width: 80px;
    /**region width*/
    ;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverGhetto #popupdiv {
    display: none;
}

#innerHoverGhetto:hover #popupdiv {
    display: block;
}

#innerHoverSewer {
    position: absolute;
    top: 3350/**distance from top of image */
    ;
    left: 5870px/**distance from left of image */
    ;
    width: 80px;
    /**region width*/
    ;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverSewer #popupdiv {
    display: none;
}

#innerHoverSewer:hover #popupdiv {
    display: block;
}

#innerHoverGraveyard {
    position: absolute;
    top: 3130px/**distance from top of image */
    ;
    left: 5530px/**distance from left of image */
    ;
    width: 80px;
    /**region width*/
    ;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverGraveyard #popupdiv {
    display: none;
}

#innerHoverGraveyard:hover #popupdiv {
    display: block;
}

#innerHoverTower {
    position: absolute;
    top: 2451px/**distance from top of image */
    ;
    left: 5941px;
    width: 80px;
    /**region width*/
    ;
    height: 80px/**region height*/
    ;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverTower #popupdiv {
    display: none;
}

#innerHoverTower:hover #popupdiv {
    display: block;
}

#innerHoverAcademy {
    position: absolute;
    top: 2909px;
    left: 6267px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverAcademy #popupdiv {
    display: none;
}

#innerHoverAcademy:hover #popupdiv {
    display: block;
}

#innerHoverSpiderLair {
    position: absolute;
    top: 1978px;
    left: 6198px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverSpiderLair #popupdiv {
    display: none;
}

#innerHoverSpiderLair:hover #popupdiv {
    display: block;
}

#innerHoverSpiderForest {
    position: absolute;
    top: 2030px;
    left: 6003px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverSpiderForest #popupdiv {
    display: none;
}

#innerHoverSpiderForest:hover #popupdiv {
    display: block;
}

#innerHoverMudGeyser {
    position: absolute;
    top: 2052px;
    left: 5716px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverMudGeyser #popupdiv {
    display: none;
}

#innerHoverMudGeyser:hover #popupdiv {
    display: block;
}

#innerHoverPier {
    position: absolute;
    top: 2423px;
    left: 5605px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverPier #popupdiv {
    display: none;
}

#innerHoverPier:hover #popupdiv {
    display: block;
}

#innerHoverRamparts {
    position: absolute;
    top: 1805px;
    left: 5425px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverRamparts #popupdiv {
    display: none;
}

#innerHoverRamparts:hover #popupdiv {
    display: block;
}

#innerHoverPeninsula {
    position: absolute;
    top: 1430px;
    left: 5535px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverPeninsula #popupdiv {
    display: none;
}

#innerHoverPeninsula:hover #popupdiv {
    display: block;
}

#innerHoverWharf {
    position: absolute;
    top: 1255px;
    left: 5135px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;
}

#innerHoverWharf #popupdiv {
    display: none;
}

#innerHoverWharf:hover #popupdiv {
    display: block;
}

#innerHoverStrand {
    position: absolute;
    top: 1030px;
    left: 5355px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;
}

#innerHoverStrand #popupdiv {
    display: none;
}

#innerHoverStrand:hover #popupdiv {
    display: block;
}

#innerHoverCastleruins {
    position: absolute;
    top: 728px;
    left: 5099px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;
}

#innerHoverCastleruins #popupdiv {
    display: none;
}

#innerHoverCastleruins:hover #popupdiv {
    display: block;
}

#innerHoverDunes {
    position: absolute;
    top: 1030px;
    left: 5679px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;
}

#innerHoverDunes #popupdiv {
    display: none;
}

#innerHoverDunes:hover #popupdiv {
    display: block;
}

#innerHoverVilla {
    position: absolute;
    top: 1391px;
    left: 5818px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;
}

#innerHoverVilla #popupdiv {
    display: none;
}

#innerHoverVilla:hover #popupdiv {
    display: block;
}

#innerHoverDungeon {
    position: absolute;
    top: 1215px;
    left: 6148px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;
}

#innerHoverDungeon #popupdiv {
    display: none;
}

#innerHoverDungeon:hover #popupdiv {
    display: block;
}

#innerHoverThicket {
    position: absolute;
    top: 1750px;
    left: 6138px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;
}

#innerHoverThicket #popupdiv {
    display: none;
}

#innerHoverThicket:hover #popupdiv {
    display: block;
}

#innerHoverGroto {
    position: absolute;
    top: 1410px;
    left: 6213px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;
}

#innerHoverGroto #popupdiv {
    display: none;
}

#innerHoverGroto:hover #popupdiv {
    display: block;
}

#innerHoverAridlake {
    position: absolute;
    top: 983px;
    left: 6044px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;
}

#innerHoverAridlake #popupdiv {
    display: none;
}

#innerHoverAridlake:hover #popupdiv {
    display: block;
}

#innerHoverOasis {
    position: absolute;
    top: 789px;
    left: 6092px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;
}

#innerHoverOasis #popupdiv {
    display: none;
}

#innerHoverOasis:hover #popupdiv {
    display: block;
}

#innerHoverDesert {
    position: absolute;
    top: 555px;
    left: 6129px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;
}

#innerHoverDesert #popupdiv {
    display: none;
}

#innerHoverDesert:hover #popupdiv {
    display: block;
}

#innerHoverColonnade {
    position: absolute;
    top: 2800px;
    left: 5503px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverColonnade #popupdiv {
    display: none;
}

#innerHoverColonnade:hover #popupdiv {
    display: block;
}

#innerHoverArena {
    position: absolute;
    top: 3083px;
    left: 5325px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverArena #popupdiv {
    display: none;
}

#innerHoverArena:hover #popupdiv {
    display: block;
}

#innerHoverOrchard {
    position: absolute;
    top: 3360px;
    left: 5345px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverOrchard #popupdiv {
    display: none;
}

#innerHoverOrchard:hover #popupdiv {
    display: block;
}

#innerHoverTemple {
    position: absolute;
    top: 3018px;
    left: 4875px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverTemple #popupdiv {
    display: none;
}

#innerHoverTemple:hover #popupdiv {
    display: block;
}

#innerHoverMalformation {
    position: absolute;
    top: 3481px;
    left: 4784px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverMalformation #popupdiv {
    display: none;
}

#innerHoverMalformation:hover #popupdiv {
    display: block;
}

#innerHoverExcavation {
    position: absolute;
    top: 3258px;
    left: 4459px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverExcavation #popupdiv {
    display: none;
}

#innerHoverExcavation:hover #popupdiv {
    display: block;
}

#innerHoverNecropolis {
    position: absolute;
    top: 3009px;
    left: 4529px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverNecropolis #popupdiv {
    display: none;
}

#innerHoverNecropolis:hover #popupdiv {
    display: block;
}

#innerHoverLair {
    position: absolute;
    top: 2700px;
    left: 4718px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverLair #popupdiv {
    display: none;
}

#innerHoverLair:hover #popupdiv {
    display: block;
}

#innerHoverMineralPools {
    position: absolute;
    top: 2400px;
    left: 4458px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;
    ;
}

#innerHoverMineralPools #popupdiv {
    display: none;
}

#innerHoverMineralPools:hover #popupdiv {
    display: block;
}

#innerHoverAbyss {
    position: absolute;
    top: 2740px;
    left: 4328px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverAbyss #popupdiv {
    display: none;
}

#innerHoverAbyss:hover #popupdiv {
    display: block;
}

#innerHoverShrine {
    position: absolute;
    top: 3056px;
    left: 4024px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverShrine #popupdiv {
    display: none;
}

#innerHoverShrine:hover #popupdiv {
    display: block;
}

#innerHoverGorge {
    position: absolute;
    top: 3260px;
    left: 4021px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverGorge #popupdiv {
    display: none;
}

#innerHoverGorge:hover #popupdiv {
    display: block;
}

#innerHoverVault {
    position: absolute;
    top: 3200px;
    left: 3470px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverVault #popupdiv {
    display: none;
}

#innerHoverVault:hover #popupdiv {
    display: block;
}

#innerHoverUndergroundSea {
    position: absolute;
    top: 3368px;
    left: 3589px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverUndergroundSea #popupdiv {
    display: none;
}

#innerHoverUndergroundSea:hover #popupdiv {
    display: block;
}

#innerHoverUndergroundRiver {
    position: absolute;
    top: 3620px;
    left: 2982px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverUndergroundRiver #popupdiv {
    display: none;
}

#innerHoverUndergroundRiver:hover #popupdiv {
    display: block;
}

#innerHoverCoves {
    position: absolute;
    top: 3041px;
    left: 2452px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverCoves #popupdiv {
    display: none;
}

#innerHoverCoves:hover #popupdiv {
    display: block;
}

#innerHoverPrecinct {
    position: absolute;
    top: 3202px;
    left: 2766px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverPrecinct #popupdiv {
    display: none;
}

#innerHoverPrecinct:hover #popupdiv {
    display: block;
}

#innerHoverIvoryTemple {
    position: absolute;
    top: 2825px;
    left: 2681px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverIvoryTemple #popupdiv {
    display: none;
}

#innerHoverIvoryTemple:hover #popupdiv {
    display: block;
}

#innerHoverPlaza {
    position: absolute;
    top: 2655px;
    left: 2850px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverPlaza #popupdiv {
    display: none;
}

#innerHoverPlaza:hover #popupdiv {
    display: block;
}

#innerHoverMaze {
    position: absolute;
    top: 2293px;
    left: 2963px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverMaze #popupdiv {
    display: none;
}

#innerHoverMaze:hover #popupdiv {
    display: block;
}

#innerHoverColosseum {
    position: absolute;
    top: 2248px;
    left: 3235px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverColosseum #popupdiv {
    display: none;
}

#innerHoverColosseum:hover #popupdiv {
    display: block;
}

#innerHoverScriptorium {
    position: absolute;
    top: 2623px;
    left: 3158px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverScriptorium #popupdiv {
    display: none;
}

#innerHoverScriptorium:hover #popupdiv {
    display: block;
}

#innerHoverPlateau {
    position: absolute;
    top: 2738px;
    left: 3496px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverPlateau #popupdiv {
    display: none;
}

#innerHoverPlateau:hover #popupdiv {
    display: block;
}

#innerHoverResidence {
    position: absolute;
    top: 2993px;
    left: 3237px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverResidence #popupdiv {
    display: none;
}

#innerHoverResidence:hover #popupdiv {
    display: block;
}

#innerHoverTortureChamber {
    position: absolute;
    top: 3203px;
    left: 3137px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverTortureChamber #popupdiv {
    display: none;
}

#innerHoverTortureChamber:hover #popupdiv {
    display: block;
}

#innerHoverCatacombs {
    position: absolute;
    top: 2318px;
    left: 2401px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverCatacombs #popupdiv {
    display: none;
}

#innerHoverCatacombs:hover #popupdiv {
    display: block;
}
#innerHoverVaaltemple {
    
    position: absolute;
    top: 2201px;
    left: 2672px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;
}

#innerHoverVaaltemple #popupdiv {
    display: none;
}

#innerHoverVaaltemple:hover #popupdiv {
    display: block;
}

#innerHoverWaterways {
    position: absolute;
    top: 1696px;
    left: 2733px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverWaterways #popupdiv {
    display: none;
}

#innerHoverWaterways:hover #popupdiv {
    display: block;
}

#innerHoverSprings {
    position: absolute;
    top: 1602px;
    left: 3123px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverSprings #popupdiv {
    display: none;
}

#innerHoverSprings:hover #popupdiv {
    display: block;
}

#innerHoverOvergrownRuin {
    position: absolute;
    top: 1444px;
    left: 3411px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverOvergrownRuin #popupdiv {
    display: none;
}

#innerHoverOvergrownRuin:hover #popupdiv {
    display: block;
}

#innerHoverPalace {
    position: absolute;
    top: 1923px;
    left: 2711px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverPalace #popupdiv {
    display: none;
}

#innerHoverPalace:hover #popupdiv {
    display: block;
}

#innerHoverDarkForest {
    position: absolute;
    top: 1853px;
    left: 3021px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverDarkForest #popupdiv {
    display: none;
}

#innerHoverDarkForest:hover #popupdiv {
    display: block;
}

#innerHoverHighGarden {
    position: absolute;
    top: 1989px;
    left: 2363px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverHighGarden #popupdiv {
    display: none;
}

#innerHoverHighGarden:hover #popupdiv {
    display: block;
}

#innerHoverShipyard {
    position: absolute;
    top: 1454px;
    left: 2197px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverShipyard #popupdiv {
    display: none;
}

#innerHoverShipyard:hover #popupdiv {
    display: block;
}

#innerHoverBazaar {
    position: absolute;
    top: 1442px;
    left: 2536px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverBazaar #popupdiv {
    display: none;
}

#innerHoverBazaar:hover #popupdiv {
    display: block;
}

#innerHoverTerrace {
    position: absolute;
    top: 1130px;
    left: 2320px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;
}

#innerHoverTerrace #popupdiv {
    display: none;
}

#innerHoverTerrace:hover #popupdiv {
    display: block;
}

#innerHoverArmoury {
    position: absolute;
    top: 1178px;
    left: 3258px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;
}

#innerHoverArmoury #popupdiv {
    display: none;
}

#innerHoverArmoury:hover #popupdiv {
    display: block;
}

#innerHoverPromenade {
    position: absolute;
    top: 1018px;
    left: 3424px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;
}

#innerHoverPromenade #popupdiv {
    display: none;
}

#innerHoverPromenade:hover #popupdiv {
    display: block;
}

#innerHoverBarrows {
    position: absolute;
    top: 851px;
    left: 3655px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;
}

#innerHoverBarrows #popupdiv {
    display: none;
}

#innerHoverBarrows:hover #popupdiv {
    display: block;
}

#innerHoverMuseum {
    position: absolute;
    top: 876px;
    left: 3935px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;
}

#innerHoverMuseum #popupdiv {
    display: none;
}

#innerHoverMuseum:hover #popupdiv {
    display: block;
}

#innerHoverputrid {
    position: absolute;
    position: absolute;
    top: 814px;
    left: 4063px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;
}

#innerHoverputrid #popupdiv {
    display: none;
}

#innerHoverputrid:hover #popupdiv {
    display: block;
}

#innerHoverCourtyard {
    position: absolute;
    top: 1229px;
    left: 3975px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverCourtyard #popupdiv {
    display: none;
}

#innerHoverCourtyard:hover #popupdiv {
    display: block;
}

#innerHoverWasteland {
    position: absolute;
    top: 1409px;
    left: 4184px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverWasteland #popupdiv {
    display: none;
}

#innerHoverWasteland:hover #popupdiv {
    display: block;
}

#innerHoverCrematorium {
    position: absolute;
    top: 1451px;
    left: 4527px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverCrematorium #popupdiv {
    display: none;
}

#innerHoverCrematorium:hover #popupdiv {
    display: block;
}

#innerHoverSulphurWastes {
    position: absolute;
    top: 1905px;
    left: 4720px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverSulphurWastes #popupdiv {
    display: none;
}

#innerHoverSulphurWastes:hover #popupdiv {
    display: block;
}

#innerHoverVolcano {
    position: absolute;
    top: 2269px;
    left: 4716px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;
    ;
}

#innerHoverVolcano #popupdiv {
    display: none;
}

#innerHoverVolcano:hover #popupdiv {
    display: block;
}

#innerHoverCore {
    position: absolute;
    top: 1819px;
    left: 4461px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;
    ;
}

#innerHoverCore #popupdiv {
    display: none;
}

#innerHoverCore:hover #popupdiv {
    display: block;
}

#innerHoverCrypt {
    position: absolute;
    top: 935px;
    left: 4096px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;
    ;
}

#innerHoverCrypt #popupdiv {
    display: none;
}

#innerHoverCrypt:hover #popupdiv {
    display: block;
}

#innerHoverCemetery {
    position: absolute;
    top: 864px;
    left: 4442px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;
    ;
}

#innerHoverCemetery #popupdiv {
    display: none;
}

#innerHoverCemetery:hover #popupdiv {
    display: block;
}

#innerHoverBog {
    position: absolute;
    top: 544px;
    left: 4437px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;
    ;
}

#innerHoverBog #popupdiv {
    display: none;
}

#innerHoverBog:hover #popupdiv {
    display: block;
}

#innerHoverArsenal {
    position: absolute;
    top: 1179px;
    left: 4287px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverArsenal #popupdiv {
    display: none;
}

#innerHoverArsenal:hover #popupdiv {
    display: block;
}

#innerHoverChateau {
    position: absolute;
    top: 1169px;
    left: 4793px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverChateau #popupdiv {
    display: none;
}

#innerHoverChateau:hover #popupdiv {
    display: block;
}

#innerHoverEstuary {
    position: absolute;
    top: 1796px;
    left: 4957px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverEstuary #popupdiv {
    display: none;
}

#innerHoverEstuary:hover #popupdiv {
    display: block;
}

#innerHoverBeacon {
    position: absolute;
    top: 2105px;
    left: 5248px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverBeacon #popupdiv {
    display: none;
}

#innerHoverBeacon:hover #popupdiv {
    display: block;
}

#innerHoverOvergrownShrine {
    position: absolute;
    top: 936px;
    left: 2908px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverOvergrownShrine #popupdiv {
    display: none;
}

#innerHoverOvergrownShrine:hover #popupdiv {
    display: block;
}

#innerHoverActon {
    position: absolute;
    top: 886px;
    left: 2798px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverActon #popupdiv {
    display: none;
}

#innerHoverActon:hover #popupdiv {
    display: block;
}

#innerHoverHallofGrandmasters {
    position: absolute;
    top: 1038px;
    left: 3565px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;

    ;
}

#innerHoverHallofGrandmasters #popupdiv {
    display: none;
}

#innerHoverHallofGrandmasters:hover #popupdiv {
    display: block;
}

#innerHoverPerandusManor {
    position: absolute;
    top: 1276px;
    left: 4885px;
    width: 80px;
    height: 80px;
    overflow: show;
    border-radius: 80px;
    ;
}

#innerHoverPerandusManor #popupdiv {
    display: none;
}

#innerHoverPerandusManor:hover #popupdiv {
    display: block;
}

.footer {
    padding-top: 2000px;
    height: 50px;
    width: 100%;
}

.footer h1 {
    position: relative;
    padding-left: 80px;
    font-size: 50px;
    color: antiquewhite;
}

.footer img {
    position: absolute;
    top: -108px;
    left: 872px;
}


/*tier toogles*/

#popupdiv:hover {
    z-index: 55555 !important;
}

.list {
    display: block;
    float: left;
    width: 500px;
}

.toggles {
    padding-left: 10rem;
    padding-top: 1.5rem;
    display: inline-block;
}

.right {
    float: right;
}


/*Button*/

bttn-default {
    color: #fff;
}

.bttn-primary,
.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
    color: #1d89ff;
}

.bttn-warning {
    color: #feab3a;
}

.bttn-danger {
    color: #ff5964;
}

.bttn-success {
    color: #28b78d;
}

.bttn-royal {
    color: #bd2df5;
}

.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-color: transparent;
    background: transparent;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}

.bttn-lg {
    padding: 8px 15px;
    font-size: 25px;
    font-family: inherit;
}

.bttn-md {
    font-size: 20px;
    font-family: inherit;
    padding: 5px 12px;
}

.bttn-sm {
    padding: 4px 10px;
    font-size: 16px;
    font-family: inherit;
}

.bttn-xs {
    padding: 3px 8px;
    font-size: 12px;
    font-family: inherit;
}

.bttn-float {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-color: transparent;
    background: transparent;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    font-size: 80px;
    font-family: inherit;
    padding: 5px 12px;
    overflow: hidden;
    border: 1px dotted #fff;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.4);
    color: #fff;
    -webkit-transition: opacity 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), box-shadow 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: opacity 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), box-shadow 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), box-shadow 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), box-shadow 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.bttn-float:hover,
.bttn-float:focus {
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.16);
    opacity: 0.85;
    -webkit-transition: opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), box-shadow 0.4s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), box-shadow 0.4s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), box-shadow 0.4s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), box-shadow 0.4s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.bttn-float.bttn-xs {
    padding: 3px 8px;
    font-size: 12px;
    font-family: inherit;
}

.bttn-float.bttn-xs:hover,
.bttn-float.bttn-xs:focus {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
}

.bttn-float.bttn-sm {
    padding: 4px 10px;
    font-size: 16px;
    font-family: inherit;
}

.bttn-float.bttn-sm:hover,
.bttn-float.bttn-sm:focus {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.bttn-float.bttn-md {
    font-size: 20px;
    font-family: inherit;
    padding: 5px 12px;
}

.bttn-float.bttn-md:hover,
.bttn-float.bttn-md:focus {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.bttn-float.bttn-lg {
    padding: 8px 15px;
    font-size: 90px;
    font-family: inherit;
}

.bttn-float.bttn-lg:hover,
.bttn-float.bttn-lg:focus {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
}

.bttn-float.bttn-default {
    border-color: #fff;
    background: rgba(255, 255, 255, 0.4);
    color: #fff;
}

.bttn-float.bttn-primary {
    border-color: #1d89ff;
    background: rgba(29, 137, 255, 0.4);
    color: #1d89ff;
}

.bttn-float.bttn-warning {
    border-color: #feab3a;
    background: rgba(254, 171, 58, 0.4);
    color: #feab3a;
}

.bttn-float.bttn-danger {
    border-color: #FF382A;
    background: rgba(255, 89, 100, 0.4);
    color: #ff5964;
}

.bttn-float.bttn-success {
    border-color: #28b78d;
    background: rgba(40, 183, 141, 0.4);
    color: #28b78d;
}

.bttn-float.bttn-royal {
    border-color: #bd2df5;
    background: rgba(189, 45, 245, 0.4);
    color: #bd2df5;
}